<!-- Main footer -->
<footer
    class="flex items-center justify-between flex-shrink-0 p-4 border-t border-gray-300 max-h-14 dark:border-gray-700"
>
    <div>K-WD &copy; <span x-text="new Date().getFullYear()"></span></div>
    <div class="text-sm">
        Made by
        <a
            class="text-blue-400 underline"
            href="https://github.com/Kamona-WD"
            target="_blank"
            rel="noopener noreferrer"
        >
            Ahmed Kamel
        </a>
    </div>
    <div>
        <a href="https://github.com/Kamona-WD/starter-dashboard-layout" target="_blank" class="flex items-center gap-1">
            <span aria-hidden="true" class="i-tabler-brand-github w-6 h-6 text-gray-400"></span>
            <span class="hidden text-sm md:block">View on Github</span>
        </a>
    </div>
</footer>
