---
import '@/css/main.css'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Home</title>
    </head>
    <body class="antialiased text-gray-900 bg-white">
        <main class="p-4">
            <h1 class="text-4xl">Home page</h1>
        </main>
    </body>
</html>
